<main>
  <div class="background-container">
    <img class="background-image" src="../assets/background.jpg">
  </div>
  <section class="characters-container">
    <img src="../assets/logo.webp">
    <div class="characters-grid">
      <app-card *ngFor="let character of charactersList" [characterInfo]="character"></app-card>
    </div>
    <div class="slider-container">
      <input class="slider" type="range" min="1" max="42" value="1" step="1" [formControl]="paginator" (change)="onPaginatorChange()">
      <p>{{paginator.value}}</p>
    </div>
  </section>
</main>