$blue: #13c49b;
$yellow: #ddf155;
$green: #63DE1E;
$font-family: 'Rubik', sans-serif;

@mixin displayFlex($flex-direction, $justify-content, $align-items, $gap: 0, $wrap: wrap) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
  wrap: $wrap
}

html {
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}